/* General */

:root {
    /* --primary: #006400 ;
    --secondary: #50c878;
    --background: #dcdcdc; */
    --primary: #85D800;
    --secondary: #95D701;
    --background: #000000;
}

body {
    color: var(--primary);
    background-color: var(--background);
}

.heading {
    margin: 0px;
    position: absolute;
    top: 5%;
    left: 37.5%; 
    font-size: 60px;
}

/* Controls */

.controls {
    margin: 0px;
    position: absolute;
    top: 32.5%;
    left: 15%;
    /* border: 5px solid var(--primary);
    width: 800px;
    max-width: 800px;
    max-height: 450px; */
}

.controls td {
    padding: 5px;
}

.input-width,
.input-height {
    background-color: var(--primary);
    color: var(--background);
    border: var(--primary);
}

.input-width:focus,
.input-height:focus {
    outline: none;
}

.input-linear-start-color,
.input-linear-end-color,
.input-radial-color {
    background-color: var(--background);
}
  
.btn-generate-wallpaper {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--background); 
    color: var(--primary); 
    border: 2px solid var(--primary);
}

.btn-generate-wallpaper:hover {
    background-color: var(--primary); 
    color: var(--background); 
    border: 2px solid var(--primary);
}

/* Wallpaper */

.wallpaper {
    margin: 0px;
    position: absolute;
    top: 25%;
    left: 55%;
    border: 5px solid var(--primary);
    width: 800px;
    max-width: 800px;
    max-height: 450px;
}